<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Koordinációs Iroda</title>
</head>
<body>
<h1>Koordinációs iroda</h1>
<p>Frontend és backend</p>
<ul>
    <li><a th:href="@{/swagger-ui/index.html}">Swagger User Interface</a></li>
    <li><a th:href="@{/th}">Tymleaf oldalak</a></li>
</ul>
</body>
</html>